body{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.cont{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 20%;
    left: 33%;
    text-align: center;
    
}


.read-area{
    width: 16em;
    height: 100%;
    background-color: #005d88;
    padding: 1em 5px;
    font-size: 25px;
    font-weight: lighter;
    text-align: right;
    color: rgba(241, 238, 238, 0.671);
}

.number-area{
    width: 16em;
    height: 100%;
    background-color: #005d88;
    /* padding: 0.5em 0px; */
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.boxes{
    color: black;
    background-color: rgba(216, 216, 216, 0.736);
    margin: 1px;
    padding: 1em;
    transition: 0.2s transform;
    backdrop-filter: blur (10px);
}
.boxes:hover{
    transform: scale(1.05);
    background-color: rgba(208, 208, 208, 0.992);
    /* border: 1px solid #00a2ed; */
}
.boxes:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px #00a2ed;

    /* Lowering the shadow */
}
.operation{
    background-color: skyblue;
}
.operation:hover{
    background-color: rgb(163, 218, 240);
}
.operation:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px #00a2ed;
    /* Lowering the shadow */
}